body {
    background: url("../images/king_pillars.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: gold;
    font-family: 'Kavivanar', cursive;
    font-size: 2rem;
}

.title {
    color: gold;
    font-family: 'Irish Grover', cursive;
    font-size: 3rem;
    text-shadow: 4px 4px black;
    text-decoration: underline;
}

.container {
    background-color: rgb(107, 1, 107);
    border: 5px solid gold;
    box-shadow: 8px 8px 8px black;
    height: 625px;
    margin-top: 10%;
    position: relative;
    width: 75%;
}

ul {
    list-style-type: none;
    width: 100%;
}

li:hover {
    background-color: blue;
    border: 2px solid gold;
    box-shadow: 6px 6px 6px black;
    cursor: pointer;
}

.startButton,
.resetButton {
    background-color: blue;
    border: 2px solid gold;
    width: 25%;
}

.start {
    margin-top: 10%;
}

.startButton:hover,
.resetButton:hover {
    box-shadow: 6px 6px 6px black;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    #answerGif {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    #answerGif {
        width: 90%;
    }
    .container {
        height: 700px;
        width: 100%;
    }
}
